<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>osascript &lt;&lt; EOF
tell application "Processing" to run
tell application "Processing" to activate
tell application "Processing" to open POSIX file "${TM_FILEPATH}"
delay 1
tell application "System Events" to tell process "Processing"

keystroke "r" using command down
end tell
EOF</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run in Processing</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.processing</string>
	<key>uuid</key>
	<string>740EC8D5-6590-4635-B76A-A032681898C8</string>
</dict>
</plist>
